/**********************
     Testing Google
**********************/

html body .M8OgIe,
html body .ULSxyf {
    display: none !important;
}

html body .MjjYud:nth-of-type(2) {
    display: none !important;
}

html body .cUnQKe {
    display: none !important;
}

#rso {
    padding-top: 30px;
}