/******************
****** GLOBALS ****
******************/

/* Prevent CSS from blocking page scroll*/

html {
    overflow-y: scroll !important;
}

body {
    position: relative;
}

html body #registration-wall {
    display: none !important;
    pointer-events: none !important;
    opacity: 0 !important;
}

/* should hide goolge login popups */

#credentials-picker-container {
    display: none !important;
}

/**********************************
************ Twitter **************
***********************************/

/**********************************
************ Twitter **************
***********************************/

/************** Left Sidebar Fixes **************/

html body a[aria-label="Grok"] {
    display: none !important;
}

html body a[aria-label="Jobs"] {
    display: none !important;
}

html body a[aria-label="Communities"] {
    display: none !important;
}

html body a[aria-label="Premium"] {
    display: none !important;
}

html body a[aria-label="Verified Orgs"] {
    display: none !important;
}

/************* Right Sidebar Fixes *************/

/* Hide "What's Happening" in Sidebar */
html body *[aria-label="Timeline: Trending now"] {
    display: none !important;
}

/* Hide "Who To Follow" in Sidebar */
html body *[aria-label="Who to follow"] {
    display: none !important;
}

/* Hide "Subscribe to Premium" in Sidebar */
html body *[aria-label="Subscribe to Premium"] {
    display: none !important;
}

/* Removes gray borders around hidden elements above */
html body *[aria-label="Trending"] .r-1kqtdi0 {
    border-color: transparent !important;
}

/* Hide "Live on X" headline in Sidebar */
html body *[aria-label="Trending"] h2[role="heading"] {
    display: none !important;
}

/* Ensures container doesn't collapse */
html body .r-1bro5k0 {
    min-height: 0;
}

/************* Timeline Fixes **************/

/* Hide promoted tweets and trends, may kill video embeds... Does kill video embeds, next rule fixes */
html body *[data-testid="placementTracking"],
html body *[data-testid="trend"] {
    display: none;
}

/* Fixes video embeds from above fix */
html body *[data-testid="tweet"] *[data-testid="placementTracking"] {
    display: block;
}

/* Ensures trending topics show on explore page */
html body *[aria-label="Timeline: Explore"] *[data-testid="placementTracking"],
html body *[aria-label="Timeline: Explore"] *[data-testid="trend"] {
    display: block;
}

/***********************
******* GO Media *******
***********************/

/* Hide video dropdown */

.instream-native-video--frontpage {
    display: none !important;
}

/* Hide various ads */

html body div.ad-container {
    display: none !important;
}

html body .bxc.bx-base {
    display: none !important;
}

html body .js_desktop-horizontal-ad {
    display: none !important;
}

#taboola-below-homepage-feed {
    display: none !important;
}

body #ias_trackable {
    display: none !important;
}

.jpstage {
    display: none !important;
}

.js_slideshow-full-width-ad {
    display: none !important;
}

/* Hide embedded video player in news feeds */
.video-html5-playlist {
    display: none !important;
}

.left-top-ad {
    display: none !important;
}

#commerce-inset-wrapper {
    display: none !important;
}

.eqbLZs {
    padding-bottom: initial !important;
}

.mgidBottomDesktop {
    display: none !important;
}

#M674724ScriptRootC1321071_1277b,
.mgbox {
    display: none !important;
}

body .mgbox {
    display: none !important;
    visibility: hidden;
}

.smcx-widget {
    display: none;
    visibility: hidden;
}

.js_modal_exit_intent {
    display: none !important;
}

#splashy-ad-container-top {
    display: none !important;
}

.taboola-container {
    display: none !important;
}

/*****************************
******* Paramount Plus *******
*****************************/

/* Hide video sidebar overlay */

.skin-sidebar-plugin {
    display: none !important;
}

/**********************
******* Twitch ********
**********************/

/* Hide text in title overlay */

.stream-info-card {
    opacity: 0 !important;
}

.sl-button-wrapper {
    display: none !important;
}

.ad-link,
.stream-display-ad__container,
.stream-display-ad__wrapper {
    display: none !important;
    visibility: hidden;
}

/**********************
******* Tumblr ********
**********************/

article:has(.n_1Sv) {
    display: none !important;
}

.nDxxrd, .TZFSLb .zfYLqc {
    display: none;
}

*[is-shorts] {
    display: none !important
}

.dss-subtitle-renderer-cue {
    font-family: "Arial", sans-serif !important;
}

.ad-slot-header, .ad-slot-header__wrapper {
    display: none !important;
}